.bgimg3 {
	background-image: url('https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=2000');
	height: 200vh;
	background-size: cover;
}
.headfirst{
	color: white;
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: bold;
	padding: 25px;
}
.bgcarouselcard{
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 100px;
	margin-top: 15px;
}
.cardcon{
	padding: 20px;
}
.headsecond{
	color: blue;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: bold;
}
.paraline{
	color:#6c6b70;
	font-family: 'Roboto';
	font-size: 13px;
}